body{
	width:1000px; 	
    height:700px; 
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.container{
    width:1000px; 	
    height:660px; 
    position: absolute;
    border: 1px solid black;
    border-color: black;
}

/*h4{  
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}*/
	
#apparatus{
	float:left;
}	
#aspirine{
	position: absolute;
	top: 100%;
	left: 5%;
	
}

#caffeine{
	position: absolute;
	top: 180%;
	left: 5%;
}

#sample{
	position: absolute;
	top: 40%;
	left: 30%;
}

#nuzol{
	position: absolute;
	top: 40%;
	left: 50%;
}

#motor{
	position: absolute;
	top: 140%;
	left:50%;
}

#detector{
	width:400px ; 
	height:280px; 
}

#start{
	left: 10%;
}

#evaluate{
	left: 60%;
}